@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-mono);
  --font-space: var(--font-space);
  --color-primary: #00E5FF;
  --color-secondary: #7C3AED;
  --color-success: #22C55E;
  --color-danger: #EF4444;
  --color-warning: #F59E0B;
}

@layer base {
  body {
    @apply bg-[#050816] text-white;
  }
}

.glass-card {
  @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-2xl shadow-xl shadow-black/50;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
.skills-track {
  animation: skillsMove 35s linear infinite;
}

.skills-track:hover {
  animation-play-state: paused;
}

@keyframes skillsMove {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}